.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image:url('/back3_7.jpg');
  background-repeat:no-repeate;
  background-position: bottom center;
  background-size:cover;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(255,255,255,0.2);
}
.jumbotron p {
  color:white;
  text-shadow: 0 0 10px rgba (0,0,0,0.5);
  padding: 2rem;
  color:white;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:#424949;
}

footer p {
  margin-bottom: .25rem;
  color:white;
  text-align:center;
}
